.chat-main
  .chat-main__header
    .chat-main__header__group-info
      .chat-main__header__group-info__group-name
        chatspace
      %ul.chat-main__header__group-info__member-list
        Member :
        %li.chat-main__header__group-info__member-list__member
          a
        %li.chat-main__header__group-info__member-list__member
          b
    = link_to "#" do
      .edit-btn
        Edit
  .chat-main__message-list
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__info
        .chat-main__message-list__message-box__info__member-name
          name
        .chat-main__message-list__message-box__info__date-and-time
          2020/05/05(Tue) 12:00:52
      .chat-main__message-list__message-box__messages
        Hello
    .chat-main__message-list__message-box
      .chat-main__message-list__message-box__info
        .chat-main__message-list__message-box__info__member-name
          name
        .chat-main__message-list__message-box__info__date-and-time
          2020/05/06(Wed) 21:41:17
      .chat-main__message-list__message-box__messages
        good evening
  .chat-main__message-form
    %form.chat-main__message-form__form-box
      .chat-main__message-form__form-box__message-box
        %input{type: "text", placeholder: "type a message", class: 'chat-main__message-form__form-box__message-box__form'}
        %label
          = icon('fas', 'image')
          %input{type: "file", class: 'chat-main__message-form__form-box__message-box__file-select'}
      %input{type: "submit", value: "Send", class: 'chat-main__message-form__form-box__send-btn'}
