.side-bar
  .side-bar__header
    .side-bar__header__box
      .top-items
        %p.top-items__name
          name
        %ul.top-items__icons
          %li.top-items__icons__icon
          %li.top-items__icons__icon
  .side-bar__group-list