.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__items
        %p.side-bar__header__box__items__name
          name
        %ul.side-bar__header__box__items__icons
          %li.side-bar__header__box__items__icons__icon
            = link_to "#" do
              %i.far.fa-edit
          %li.side-bar__header__box__items__icons__icon
            = link_to "#" do
              %i.fas.fa-cog
  .side-bar__group-list
    = link_to "#" do
      .groups
        %p.groups__name
          teckcamp
        %p.groups__messages
          まだメッセージがありません
    = link_to "#" do
      .groups
        %p.groups__name
          chatspace
        %p.groups__messages
          まだメッセージがありません