//Colors
$darknavy: #253141;
$lightnavy: #2f3e51;
$white: #ffffff;
$offwhite: #fafafa;
$darkgray: #333333;
$gray: #434a54;
$lightgray: #999999;
$marineblue: #38aef0;
$shadow: #eeeeee;
$form:  #d2d2d2;